.omni, .omni *, .omni *::before, .omni *::after {
	-webkit-appearance: none;
	box-sizing: border-box;
	vertical-align: top;
}

.omni {
	height: 2.5rem;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
}

.omni {
	background-color: #F8F8F8;
	box-shadow: 0 0 .5rem 0 rgba(0,0,0,0.25);
}

.omni-inset {
	display: table;
	margin: 0 auto;
	max-width: 60rem;
}

.omni-component {
	display: table-cell;
	white-space: nowrap;
}

.omni-search {
	width: 100%;
}

.omni-navigation .omni-icon {
	fill: #A9233A;
}

.omni-profile .omni-icon {
	border-radius: 50%;
}

.omni-navigation .omni-content, .omni-profile .omni-content {
	padding: .5rem .25rem;
	width: 2rem;
}

.omni-icon {
	height: 1.5rem;
	width: 1.5rem;
}

.omni-search .omni-content {
	padding: .5rem .25rem;
}

.omni-search-input {
	border-width: 0;
	font-size: 75%;
	height: 1.5rem;
	max-width: 400px;
	padding: .25rem;
	width: 220px;`
}

.omni-search-input {
	border-radius: .1875rem;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	outline-offset: -.125rem;
	transition: box-shadow .2s ease-in-out, width .2s ease-in-out;
}

.omni-search-input:focus {
	width: 100%;
}
