// TODO: Clean this up and scope under outer OmniNav selector. This was copied from Cascade Assets.
.cu-off-canvas-nav-trigger {
	// This should be similar to settings for a.cu_nav_button in omni-nav.scss.
	svg {
		width: 24px;
		height: 24px;
		margin-right: 8px;
		background-size: contain;
		vertical-align: middle;
	}
}

.cu-off-canvas-nav {
	width: 200%;
	position: relative;
	left: 0;
	@include transition(all, 0.375s, ease-in-out);

	.shifted & {
		left: -100%;
	}

	li {
		border-top: 1px solid $cu-off-canvas-nav-border-color;
		list-style: none;
		margin: 0;
	}

	a {
		// color: $grey2;
		color: #444444; // Client request - BarkleyREI
		font-weight: normal; /* Fallback */
		font-weight: 400;
		position: relative;
		left: 0px;
		@include transition(all, 0.175s, ease-in-out);

		&:hover {
			left: 5px;
		}

	}

	> ul {
		width: 50%;
		float: left;
		border-bottom: 1px solid $cu-off-canvas-nav-border-color;
		@include vendorize(box-sizing, border-box);

		&.level-1 {
			border-right: 1px solid $cu-off-canvas-nav-border-color;
		}

		&.level-2 {
			position: relative;
			left: -1px;
			border-left: 1px solid $cu-off-canvas-nav-border-color;
		}

		> li {
			display: block;
			position: relative;
			width: 100%;

			> ul {
				display: none;

				&:empty {
					display: none;
				}

				> li {
					// background-color: lighten($cu-light-grey, 5%);
					background-color: #f5f5f5; // Client request - BarkleyREI

					a {
						display: block;
						font-size: 16px;
						padding: 0.5em 1.325em;
						color: $grey2-hover;

						&:hover {
							color: $chapman-link-hover;
						}

						// Client request - BarkleyREI
						&:active {
							color: $cu-red;
						}

					}

				}

			}

			&.open {

				&:empty {
					display: none;
				}

				> a {
					// color: $grey;
					color: $cu-red; // Client request - BarkleyREI

					&:before {
						color: $cu-red;
					}

					svg {
						fill: $cu-red;
					}
				}

				.toggle > span {
					@include vendorize(transform, rotate(45deg));
				}

			}

			> a, .toggle {
				height: 60px;
			}

			> a {
				display: table-cell;
				vertical-align: middle;
				padding: 0 70px 0 22px;
				position: relative;
				font-size: 18px;
				font-family: "futura-pt", sans-serif;

				&:before, svg {
					// vertical-align: top;
					position: relative;
					@include transition(all, 0.175s, ease-in-out);
				}

				&:before {
					margin-right: 10px;
				}

				&:hover {
					color: $grey;

					&:before {
						color: $cu-red;
					}

					svg {
						fill: $cu-red;
					}

				}

				svg {
					fill: $grey2;
					display: inline-block;
					width: 18px;
					height: 18px;
					top: 2px;
					margin-right: 10px;

					&.icon-graduation {
						width: 21px;
						height: 21px;
						top: 5px;
						margin-right: 7px;
					}
					&.icon-calendar {
						width: 20px;
						height: 20px;
						margin-right: 8px;
					}
				}

			}

			.toggle {
				width: 60px;
				line-height: 60px;
				font-size: 18px;
				text-align: center;
				position: absolute;
				top: 0;
				right: 0;
				background-color: $cu-off-canvas-nav-background;
				color: $grey;
				font-weight: normal; /* Fallback */
				font-weight: 400;
				cursor: pointer;

				> span {
					display: block;
					font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
					@include transition(all, 0.175s, ease-in-out);
				}

			}

		}

	}

}
