// Breakpoints
$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-large-desktop: 1190px;

// Header
$primary-nav-border-color: #8a8a8a;
$primary-nav-dropdown-width: 200px;
$primary-nav-height: 60px;
$square-icon-size: 16px;
$base-spacing: 16px;
$base-line-height: 32px;

// Default styles
$black: #2f2f2f;
$white: #ffffff;
$chapman-red: #A50034;
$default-font-stack: arial, sans-serif;
$font-title-stack: "futura-pt", arial, sans-serif;
