/***************************************************
* Colors and Mixins
***************************************************/

$chapman-red: #a82439;
$page-bg-color: #eaeaea;
$row-border-color: #CCCCCC;

$cu-nav-background: #FFFFFF;
$cu-nav-border: #D6D5CF;

$cu-nav-text: #404040;
$cu-nav-height: 45px;

$cu-domain-width: 170px;
$cu-login-width: 220px;
$cu-secondary-width: 430px;

$cu-search-results-width: 560px;

$cu-companion-height: 30px;

$cu-button-padding: ($cu-nav-height / 3.5);

// Viewport sizes
$cu-viewport-xs:  400px;
$cu-viewport-s:   540px;
$cu-viewport-m:   700px;
$cu-viewport-ml:  800px;
$cu-viewport-l:   980px;
$cu-viewport-xl: 1200px;

@mixin reset-box-model($display: block) {
	display: $display;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@mixin font-stack-for-headings() {
	font-family: "proxima-nova-soft", "proxima-nova", "futura-pt", Arial, Verdana, "Sans Serif";
}

/***************************************************
* Make room for our nav bar
***************************************************/
html { padding-top: $cu-nav-height !important; }
html.cu-companion-bar { padding-top: $cu-nav-height + $cu-companion-height !important;}
html, body { margin:0; padding: 0;}


/***************************************************
* Universal Nav structure
***************************************************/

#cu_nav {
	@include reset-box-model();
	@include font-stack-for-headings();

	width: 100%;
	height: $cu-nav-height;
	position: fixed;
	top: 0;

	.logged-in.admin-bar & { margin-top:32px; }

	z-index: 99100;

	background-color: $cu-nav-background;
	border-bottom: 1px solid $cu-nav-border;

	* { box-sizing: border-box; }

	////////////////
	// Animation
	-webkit-transition: top 0.15s 0s ease-out;
	   -moz-transition: top 0.15s 0s ease-out;
	     -o-transition: top 0.15s 0s ease-out;
	        transition: top 0.15s 0s ease-out;

	ul.cu_nav_menu {
		@include reset-box-model();
		position: relative;
		z-index: 99090;
		float: left;
		min-height: $cu-nav-height;

		&.expanded {
			padding-top: $cu-nav-height;
		}

		li {
			@include reset-box-model();
			list-style-type: none;
			width: $cu-domain-width;

			&.selected {
				z-index: 1;
				position: absolute;
				top: 0;
			}
		}

		&#cu_nav_domain {
			width: $cu-domain-width;
		}

		&.cu_nav_secondary {
			width: $cu-secondary-width; 
			li {
				width: $cu-secondary-width;
				&.selected { border-left: 1px solid $cu-nav-border; }
			}
		}
	}

	div.cu_nav_menu {
		position: relative;
		min-height: $cu-nav-height;
		z-index: 99090;

		div.cu_dropdown_menu {
			max-height: 0px;
			padding: 0 20px;
			overflow: hidden;

			////////////////
			// Animation
			-webkit-transition: padding 0.2s 0s ease-out, height 0.2s 0s ease-out;
			   -moz-transition: padding 0.2s 0s ease-out, height 0.2s 0s ease-out;
			     -o-transition: padding 0.2s 0s ease-out, height 0.2s 0s ease-out;
			        transition: padding 0.2s 0s ease-out, height 0.2s 0s ease-out;
		}


		&.expanded {

			div.cu_dropdown_menu {
				max-height: 200px;
				padding: 20px;
			}
		}
	}
}

a.cu_nav_button {
	@include reset-box-model();

	background: #faf9f6;
	display: block;
	text-decoration: none;
	overflow: hidden;

	transition: color 0.1s ease-out;

	&:link, 
	&:visited { color: $cu-nav-text; }

	svg {
		width: 20px;
		height: 20px;
		margin-right: 8px;
		background-size: contain;
		vertical-align: middle;

		* {
			transition: fill 0.1s ease-out;
			fill: lighten($cu-nav-text, 5%);
		}
	}

	////////////////
	// Hidden state
	.cu_nav_menu & {
		height: 0;
		opacity: 0;
		padding: 0 $cu-button-padding 0 $cu-button-padding;
	}

	////////////////
	// Expanded state
	.cu_nav_menu.expanded &,
	.cu_nav_selectable .selected > & {
		height: $cu-nav-height;
		opacity: 1;
		padding: $cu-button-padding;
		border-bottom: 1px solid #D6D5CF;
	}

	////////////////
	// Active state
	.cu_nav_selectable .selected > & {
		background: #FFFFFF;
		svg * &#cu_nav_domain {
			fill: $chapman-red;
		}
	}

	////////////////
	// Hover state
	&:hover {
		background: #FFFFFF;
		color: $chapman-red;
		text-decoration: none;

		transition: color 0.1s ease-out;

		svg * {
			fill: $chapman-red;
		}
	}


	////////////////
	// Animations
	-webkit-transition: height 0.15s 0s ease-out, border 0.15s 0s ease-out, padding 0.15s 0s ease-out, opacity 0.15s 0s ease-out, filter 0s 0s ease-out;
	   -moz-transition: height 0.15s 0s ease-out, border 0.15s 0s ease-out, padding 0.15s 0s ease-out, opacity 0.15s 0s ease-out, filter 0s 0s ease-out;
	     -o-transition: height 0.15s 0s ease-out, border 0.15s 0s ease-out, padding 0.15s 0s ease-out, opacity 0.15s 0s ease-out, filter 0s 0s ease-out;
	        transition: height 0.15s 0s ease-out, border 0.15s 0s ease-out, padding 0.15s 0s ease-out, opacity 0.15s 0s ease-out, filter 0s 0s ease-out;

}




/***************************************************
* DOMAIN PICKER
***************************************************/

// FX: CU Window on active always
#cu_nav_domain.cu_nav_selectable .selected > a.cu_nav_button {
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: 13px 13px;
	background-size: 20px;

	// The CU Window
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjkuNDg4cHgiIGhlaWdodD0iMjkuNTg0cHgiIHZpZXdCb3g9IjAgMCAyOS40ODggMjkuNTg0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyOS40ODggMjkuNTg0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwb2x5Z29uIGZpbGw9IiM4QjIzMzIiIHBvaW50cz0iMTMuNjg4LDE1LjI4MSAwLDI4Ljk2NSAwLDE1LjI4MSAJIi8+DQoJPHBvbHlnb24gZmlsbD0iIzhCMjMzMiIgcG9pbnRzPSIwLDE0LjQwNCAwLDAuNzE3IDEzLjY4OCwxNC40MDQgCSIvPg0KCTxwb2x5Z29uIGZpbGw9IiM4QjIzMzIiIHBvaW50cz0iMjguODY5LDAuMSAxNS4xODMsMTMuNzgzIDE1LjE4MywwLjEgCSIvPg0KCTxwb2x5Z29uIGZpbGw9IiM4QjIzMzIiIHBvaW50cz0iMTQuMzA3LDEzLjc4MyAwLjYyLDAuMSAxNC4zMDcsMC4xIAkiLz4NCgk8cG9seWdvbiBmaWxsPSIjOEIyMzMyIiBwb2ludHM9IjE1LjgwMywxNC40MDQgMjkuNDg4LDAuNzE3IDI5LjQ4OCwxNC40MDQgCSIvPg0KCTxwb2x5Z29uIGZpbGw9IiM4QjIzMzIiIHBvaW50cz0iMjkuNDg4LDE1LjI4MSAyOS40ODgsMjguOTY1IDE1LjgwMywxNS4yODEgCSIvPg0KCTxwb2x5Z29uIGZpbGw9IiM4QjIzMzIiIHBvaW50cz0iMTQuMzA3LDE1Ljg5OCAwLjYyLDI5LjU4NCAxNC4zMDcsMjkuNTg0IAkiLz4NCgk8cG9seWdvbiBmaWxsPSIjOEIyMzMyIiBwb2ludHM9IjE1LjE4MywxNS44OTggMTUuMTgzLDI5LjU4NCAyOC44NjcsMjkuNTg0IAkiLz4NCjwvZz4NCjwvc3ZnPg0K);

	svg * { display: none; }
}

// Put the regular icon back on hover
#cu_nav_domain.cu_nav_selectable.expanded .selected > a.cu_nav_button {
	background-image: none;
	svg * { display: block; }
}


/***************************************************
* SEARCH
***************************************************/

#cu_search {
	@include reset-box-model();

	width: 120px;
	padding: 8px 0;
	float: right;

	margin-right: -180px;

	.gsc-search-box {
		margin: 0;
		position: relative;
		z-index: 99100;
	}

	// The query input box
	input.gsc-input[style] {
		@include reset-box-model();

		font-size: 14px;
		padding: 4px 30px 4px 12px;
		border-radius: 3px;
		background-image: none !important;
		background-color: #F7F7F7;

        transition: background-color 0.5s ease-out;

		&:focus,
		&:hover {
			background-color: #FFFFFF;
	        transition: background-color 0.1s ease-out;
		}
	}

	// The description at the top: "About 3,760 results (0.42 seconds)"
	.gsc-result-info {
		font-size: 12px; 
		color: #AAAAAA;
	}

	// The spelling suggestions
	.gs-spelling {
		a { color: #407892; }
	}

	// The main title for each result
	.gs-title {
		height: auto;
		color: $chapman-red;
		text-decoration: none;

		a { display: block; padding-bottom: 5px; }
		b { color: darken($chapman-red, 3%); text-decoration: none; }
		&:hover { text-decoration: underline; }
	}

	// The URL underneath each result
	.gs-visibleUrl {
		color: #AAAAAA;
		font-size: 12px;
		line-height: 16px; 
		margin: 4px 0;
	}

	// The description of each result
	.gs-snippet {
		color: #666666;
		font-size: 12px;
		line-height: 16px; 
	}

	// Misc. Appearance tweaks
	.gsc-clear-button { display: none; }
	.gsc-selected-option-container { min-width: 80px !important; cursor: pointer; }
	.gsc-option-menu-item { padding: 0 15px; }
	.gsc-above-wrapper-area { padding-top:0; margin-bottom: 15px; }
	.gsc-control-cse { padding: 18px 23px 15px 20px; }
	.gsc-table-cell-thumbnail { padding-right: 8px; }
	.gsc-webResult { margin-bottom: 7px; }

	// Thumbnail sizes
	@media only screen and (min-width:480px) {
		.gs-web-image-box, .gs-promotion-image-box { width: 85px; }
		.gs-web-image-box img.gs-image { max-width: 80px; }
	}

	// Pagination buttons
	.gsc-results {
		.gsc-cursor-box {
			margin:20px 0;
			text-align: center;

			.gsc-cursor-page {
				display: inline-block;
				padding: 8px 10px; 
				background: $page-bg-color;

				text-decoration: none; 

				border-radius: 3px;

				&:hover {
					background: $row-border-color;
				}

				&.gsc-cursor-current-page,
				&.gsc-cursor-current-page:hover {
					background: lighten($page-bg-color, 10%);
				}
			}
		}
	}

	// The search icon itself
	td.gsc-search-button { display: block; position: absolute; margin-left: -46px; }
	input.gsc-search-button {
		display: block;
		border: none;
		background: none;
		text-indent: -9999px;

		width: 30px;
		min-width: 30px;
		height: 26px;
		padding: 0;

		cursor: pointer;
		opacity: 0.5;

		&:hover { opacity: 0.6; }
		&:focus { outline: none; }

		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNzYwLjVweCIgaGVpZ2h0PSI1MTJweCIgdmlld0JveD0iMCAwIDc2MC41IDUxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNzYwLjUgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik00OTYuMTMxLDQzNS42OThMMzc0Ljg1NSwzMzIuNTUxYy0xMi41MzctMTEuMjgzLTI1Ljk0My0xNi40NjMtMzYuNzc0LTE1Ljk2M0MzNjYuNzA3LDI4My4wNTUsMzg0LDIzOS41NDksMzg0LDE5Mg0KCUMzODQsODUuOTYxLDI5OC4wMzksMCwxOTIsMEM4NS45NjIsMCwwLDg1Ljk2MSwwLDE5MnM4NS45NjEsMTkyLDE5MiwxOTJjNDcuNTQ5LDAsOTEuMDU0LTE3LjI5MywxMjQuNTg4LTQ1LjkyMg0KCWMtMC41LDEwLjgzMSw0LjY4LDI0LjIzOSwxNS45NjMsMzYuNzc0TDQzNS42OTgsNDk2LjEzYzE3LjY2MSwxOS42MjMsNDYuNTEzLDIxLjI3Nyw2NC4xMSwzLjY3OA0KCUM1MTcuNDA2LDQ4Mi4yMDksNTE1Ljc1NCw0NTMuMzU5LDQ5Ni4xMzEsNDM1LjY5OHogTTE5MiwzMjBjLTcwLjY5MiwwLTEyOC01Ny4zMDktMTI4LTEyOGMwLTcwLjY5Miw1Ny4zMDgtMTI4LDEyOC0xMjgNCgljNzAuNjksMCwxMjgsNTcuMzA4LDEyOCwxMjhDMzIwLDI2Mi42OTEsMjYyLjY5MywzMjAsMTkyLDMyMHoiLz4NCjwvc3ZnPg0K);
	}

}

// Search Autocomplete Suggestion box
.gssb_c[style] {
	position: fixed !important;
	top: ($cu-nav-height - 10px) !important;
	z-index: 99200;
}

#cu_search_results {
	display:none;
	width: 100%;
	height: 100%;
	background: #333333;
	background: rgba(0,0,0,0.4);
	z-index: 99080;
	position: fixed;
	top: $cu-nav-height;
	left: 0;

	#cu_search_results_cell {
		display:table-cell;
		vertical-align: middle;
		text-align: left;
		width: 100%;
		height: 100%;

		#cu_search_results_ui {
			position: fixed;
			overflow: scroll;
			top: $cu-nav-height;
			width: 100%;
			max-height: 100%;
			z-index: 99081;

			// CENTER ALIGNED
			left: 50%;
			right:auto;
			margin-left: -50%;

			.gsc-control-cse {
				position: relative;
				margin-bottom: $cu-nav-height + 15px;
			}

			&:before {
				position: fixed;
				content: "";
				width: 100%;
				height: 6px;
				background: linear-gradient(to bottom,  rgba(0,0,0,0.08) 0%, rgba(0,0,0,0) 100%);
				z-index: 99082;
			}
		}
	}
}


/***************************************************
* LOGIN
***************************************************/

#cu_login_container {
	@include reset-box-model();
	float: right;
	
	#cu_identity {
		@include reset-box-model();
		
		display: block;
		cursor: pointer;

		text-align: right;

		width: $cu-login-width;
		height: $cu-nav-height;

		padding: $cu-button-padding;

		.cu_name { display: none; }

		svg {
			width: 20px;
			height: 20px;
			margin-right: 8px;
			background-size: contain;
			vertical-align: middle;

			* {
				transition: fill 0.1s ease-out;
				fill: lighten($cu-nav-text, 5%);
			}
		}

	}

	.cu_avatar {
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		border-radius: 50%;

	}


	#cu_login_form {
		clear: both;

		.logged-in & { display: none !important; }

		input { color:#9a9996; }
		input:focus { color:#353430;}
		label { font-size:11px; opacity:0.8; }

		#cu_submit {
			display: block;
			height:27px;
			width: 100%;
			background:#a82439;
			color:#ffffff;
			border:none;
			border-left:none;
			border-radius: 2px;
			margin:9px 0;
			padding:0 10px;
			cursor: pointer;
		}

		#cu_submit:hover { background:#C92741; }

		#cu_username,
		#cu_password {
			width:100%; 
			padding:7px; 
			font-family:"RooneySans","proxima-nova-soft", "futura-pt", Arial, Verdana, "Sans Serif";
			font-size:12px; 
			border:1px solid #D8D6D0; 
			border-radius: 2px; 
			-moz-box-sizing: border-box; 
			box-sizing: border-box; 
			box-shadow: none;
			color:#9a9996;
			margin: 4px 0px; 
		}

		#cu_username:focus,
		#cu_password:focus { outline: none; border-color:#d3a6ae; color:#353430; }

		input.persist[type="radio"], input.persist[type="checkbox"] {
			border-color: #D8D6D0;
			background: #fbfbfb;
			border-style:solid;
			border-width: 1px;
			cursor: pointer;
			 -webkit-box-shadow: none;
			box-shadow: none;
			box-sizing: border-box; 
			outline: 0;
			-webkit-appearance:none;
			display: inline-block;
			line-height: 0;
			height: 14px;
			margin: -1px 3px 0 0; 
			padding: 0!important;
			text-align: center;
			vertical-align: middle;
			width: 14px;
			min-width: 14px;
		}

		.persist label {
			color: #9a9996;
		}

		input.persist {
			border-color: #D8D6D0;
			color: #a82439;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		input.persist[type="radio"]:checked:before, input.persist[type="checkbox"]:checked:before {
			content: '\f147';
			margin: -3px 0 0 -4px;
			float: left;
			display: inline-block;
			vertical-align: middle;
			width: 14px;
			font: 400 19px/1 dashicons;
			speak: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			color: #a82439;
		}

	}


	.cu_dropdown_menu {
		@include reset-box-model();
		display: block;
		width: $cu-login-width;
		background: #faf9f6;
		color: $cu-nav-text;

		li { @include reset-box-model(); }

		.cu_nav_menu.expanded & {
			padding:10px;
		}

		// Default
		&.if-logged-in  { display: none; }

		.logged-out & {

			&.if-logged-in  { display: none; }
			&.if-logged-out { display: block; }
		}

		.logged-in & {

			&.if-logged-in  { display: block; }
			&.if-logged-out { display: none; }
		}
	}
}

/***************************************************
* Things get bigger
***************************************************/

@media only screen and (min-width: $cu-viewport-xs) {
	#cu_search { width: 180px; }
}

@media only screen and (min-width: $cu-viewport-s) {
	#cu_search { width: 270px; }
}


@media only screen and (min-width: $cu-viewport-m) {
	#cu_search { width: 180px; }
}

@media only screen and (min-width: $cu-viewport-ml) {
	#cu_search {
		width: 270px;

		.gsc-control-cse {

			width: $cu-search-results-width;

			// CENTER ALIGNED
			left: 50%;
			right: auto;
			margin-left: -($cu-search-results-width / 2);
		}
	}

}


@media only screen and (min-width: $cu-viewport-l) {

	// Show login username
	#cu_search { width: 200px; margin-right: -115px; }
	#cu_login_container #cu_identity          { padding-right: 30px; }
	#cu_login_container #cu_identity .cu_name { display: inline-block; }

	#cu_search {
		width: 270px;

		.gsc-control-cse {
			// RIGHT ALIGNED
			float: right !important;
			right: 105px !important;
			left: auto !important;
			margin-left: auto !important;
		}
	}



}
@media only screen and (min-width: $cu-viewport-xl) {
	#cu_search { width: 400px; }
}


// The minification of Menus

@media only screen and (max-width: $cu-viewport-l) {

	#cu_nav_domain {
		max-width: 45px;
		overflow: hidden;

		li.selected a { width: 45px; color: #FFFFFF; }


		li a,
		&.expanded li.selected a { width: $cu-domain-width; color: $cu-nav-text; }

		&.expanded {
			overflow: visible;
			max-width: 999px;
			width:100% !important;

			position: absolute !important;
			top:0;
			left:0;
			z-index: 99500 !important;

			li { width:100% !important; }
		}
		&.expanded li a {
			
			width: 100% !important;
		}
	}
}

@media only screen and (max-width: $cu-viewport-m) {
	.cu_nav_secondary {
		max-width: 45px;
		overflow: hidden;

		font-size: 11px;
		
		li.selected a { width: 45px; color: #FFFFFF; }

		li a,
		&.expanded li.selected a { width: $cu-domain-width; color: $cu-nav-text; }
		

		&.expanded {
			overflow: visible;
			max-width: 999px;
			width:100% !important;

			position: absolute !important;
			top:0;
			left:0;
			z-index: 99500 !important;

			li { width:100% !important; }
		}
		&.expanded li a {
			
			width: 100% !important;
		}
	}
}


/***************************************************
* COMPANION BAR
***************************************************/

#cu_companion_bar {
	@include font-stack-for-headings();

	background: rgba(150,150,150,1);
	color: #DDD;
	left: 0;
	font-size: 14px;
	height: $cu-companion-height;
	line-height: 30px;
	position: fixed;
	text-align: center;
	text-transform: uppercase;
	top: $cu-nav-height;
	width: 100%;
	z-index: 99000;

	////////////////
	// Animations
	-webkit-transition: top 0.15s 0s ease-out;
	   -moz-transition: top 0.15s 0s ease-out;
	     -o-transition: top 0.15s 0s ease-out;
	        transition: top 0.15s 0s ease-out;


	&.nav-down {
		top: $cu-nav-height;
	}

	&.nav-up {
		top: $cu-nav-height - $cu-companion-height;
	}

}

